# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,
                        applicant_data_df['STATUS'],
                        applicant_data_df['ASK_AMT'],
                        applicant_data_df['IS_SUCCESSFUL']],
                       axis="columns",
                       join="inner")

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL'].values

# Display a sample of y
y[:5]

array([1, 1, 0, 1, 1])

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL').copy()

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  7

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

7

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 819

 dense_1 (Dense)             (None, 4)                 32

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 856
Trainable params: 856
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7978 - accuracy: 0.4809
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7518 - accuracy: 0.5952
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6939 - accuracy: 0.6974
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6670 - accuracy: 0.7147
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6591 - accuracy: 0.7175
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6574 - accuracy: 0.7179
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6582 - accuracy: 0.7191
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6468 - accuracy: 0.7210
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6398 - accuracy: 0.7221
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.7210
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6295 - accuracy: 0.7234
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6152 - accuracy: 0.7240
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6130 - accuracy: 0.7236
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6114 - accuracy: 0.7263
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5983 - accuracy: 0.7275
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5997 - accuracy: 0.7268
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5829 - accuracy: 0.7267
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5800 - accuracy: 0.7271
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5780 - accuracy: 0.7269
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7291
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5780 - accuracy: 0.7293
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7286
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5818 - accuracy: 0.7296
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5799 - accuracy: 0.7298
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5737 - accuracy: 0.7296
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5768 - accuracy: 0.7313
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5738 - accuracy: 0.7313
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5720 - accuracy: 0.7312
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5760 - accuracy: 0.7319
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5797 - accuracy: 0.7301
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5717 - accuracy: 0.7327
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5674 - accuracy: 0.7328
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7321
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5744 - accuracy: 0.7314
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5681 - accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5672 - accuracy: 0.7316
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7320
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7322
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5684 - accuracy: 0.7328
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5725 - accuracy: 0.7302
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7327
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7315
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5626 - accuracy: 0.7332
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6241 - accuracy: 0.7299
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5982 - accuracy: 0.7311
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5689 - accuracy: 0.7321
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5905 - accuracy: 0.7300
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6019 - accuracy: 0.7282
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5755 - accuracy: 0.7313
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5706 - accuracy: 0.7332

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5835 - accuracy: 0.7303 - 470ms/epoch - 2ms/step
Loss: 0.5834589600563049, Accuracy: 0.7302623987197876

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
weights_filepath = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save_weights(weights_filepath)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                1170

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,181
Trainable params: 1,181
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.8229 - accuracy: 0.6387
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 1.4328 - accuracy: 0.6693
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3451 - accuracy: 0.6798
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3257 - accuracy: 0.6822
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3261 - accuracy: 0.6770
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3363 - accuracy: 0.6832
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3082 - accuracy: 0.6848
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 1.2876 - accuracy: 0.6833
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 1.2798 - accuracy: 0.6891
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 1.2735 - accuracy: 0.6906
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 1.2742 - accuracy: 0.6911
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 1.2747 - accuracy: 0.6912
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 1.2755 - accuracy: 0.6914
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 1.2754 - accuracy: 0.6916
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 1.2682 - accuracy: 0.6893
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 1.1592 - accuracy: 0.6953
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9994 - accuracy: 0.7075
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9874 - accuracy: 0.7087
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9746 - accuracy: 0.7071
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9682 - accuracy: 0.7080
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9487 - accuracy: 0.7115
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9522 - accuracy: 0.7114
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9545 - accuracy: 0.7106
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9576 - accuracy: 0.7051
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 1.0496 - accuracy: 0.6839
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0313 - accuracy: 0.7056
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0217 - accuracy: 0.7061
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0167 - accuracy: 0.7077
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0188 - accuracy: 0.7084
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0222 - accuracy: 0.7079
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9624 - accuracy: 0.7061
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9443 - accuracy: 0.7122
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9627 - accuracy: 0.7030
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9600 - accuracy: 0.7044
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9467 - accuracy: 0.7111
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9541 - accuracy: 0.7119
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9465 - accuracy: 0.7126
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9436 - accuracy: 0.7121
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9442 - accuracy: 0.7116
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9365 - accuracy: 0.7123
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9448 - accuracy: 0.7019
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9395 - accuracy: 0.7039
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9308 - accuracy: 0.7128
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9262 - accuracy: 0.7137
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9311 - accuracy: 0.7125
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9354 - accuracy: 0.7124
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9370 - accuracy: 0.7108
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9390 - accuracy: 0.7116
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9375 - accuracy: 0.7120
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9377 - accuracy: 0.7116
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9377 - accuracy: 0.7140
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9427 - accuracy: 0.7081
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9356 - accuracy: 0.7124
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9328 - accuracy: 0.7134
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9367 - accuracy: 0.7132
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9385 - accuracy: 0.7139
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9314 - accuracy: 0.7141
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9245 - accuracy: 0.7143
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9238 - accuracy: 0.7139
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9206 - accuracy: 0.7144
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9224 - accuracy: 0.7148
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9329 - accuracy: 0.7123
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9235 - accuracy: 0.7145
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9255 - accuracy: 0.7142
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9270 - accuracy: 0.7145
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9216 - accuracy: 0.7146
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9252 - accuracy: 0.7144
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9198 - accuracy: 0.7144
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9184 - accuracy: 0.7143
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9196 - accuracy: 0.7134
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9193 - accuracy: 0.7146
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9189 - accuracy: 0.7146
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9191 - accuracy: 0.7151
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9180 - accuracy: 0.7141
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9239 - accuracy: 0.7152
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9194 - accuracy: 0.7147
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9215 - accuracy: 0.7141
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9212 - accuracy: 0.7149
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9200 - accuracy: 0.7150
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9201 - accuracy: 0.7144
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.8842 - accuracy: 0.7166
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7158 - accuracy: 0.7270
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7330 - accuracy: 0.7190
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7276 - accuracy: 0.7242
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7235 - accuracy: 0.7246
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7234 - accuracy: 0.7253
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7194 - accuracy: 0.7248
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7187 - accuracy: 0.7256
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7220 - accuracy: 0.7248
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7174 - accuracy: 0.7255
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7129 - accuracy: 0.7258
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7121 - accuracy: 0.7255
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7132 - accuracy: 0.7255
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7213 - accuracy: 0.7262
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7213 - accuracy: 0.7244
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7162 - accuracy: 0.7260
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7186 - accuracy: 0.7255
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7169 - accuracy: 0.7259
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7145 - accuracy: 0.7269
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7161 - accuracy: 0.7256

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 14

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

14

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2,
                input_dim=number_input_features,
                activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 14)                1638

 dense_6 (Dense)             (None, 1)                 15

=================================================================
Total params: 1,653
Trainable params: 1,653
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", 
              optimizer="adam",
              metrics=["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6057 - accuracy: 0.7122
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7300
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7307
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7313
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7314
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7315
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7319
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7324
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7332
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7326
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7324
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7323
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7328
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7337
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7333
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7331
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7339
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7341
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7347
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7343
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7351
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7356
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7348
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7363

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5835 - accuracy: 0.7303 - 396ms/epoch - 1ms/step
Loss: 0.5834589600563049, Accuracy: 0.7302623987197876

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7228 - accuracy: 0.7227 - 417ms/epoch - 2ms/step
Loss: 0.7227616906166077, Accuracy: 0.7226822376251221

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5571 - accuracy: 0.7280 - 460ms/epoch - 2ms/step
Loss: 0.5570615530014038, Accuracy: 0.7280466556549072

### Step 3: Save each of your alternative models as an HDF5 file.

In [48]:
# Set the file path for the first alternative model
weights_filepath = "Model_A1.h5"

# Export your model to a HDF5 file
nn.save_weights(weights_filepath)

In [49]:
# Set the file path for the second alternative model
weights_filepath = "alternative2.h5"

# Export your model to a HDF5 file
nn.save_weights(weights_filepath)